/* div.sheet-grid {
    height: 100vh;
    width: 100%;
} */

.sheet-grid {
    text-align: center;
    height: 100vh;
    width: 100%;
    min-height: 675px;
    padding: 10vmin;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1.5fr 1.5fr 3fr 5fr 2fr 2fr auto;
    grid-template-areas:
        "titleCard titleCard titleCard"
        "lifeCard lifeCard lifeCard"
        "statsCard savingThrowsCard spellStatCard"
        "statsCard skillsCard moneyCard"
        "equipmentCard equipmentCard equipmentCard"
        "backgroundCard backgroundCard backgroundCard"
        "sheetButtons sheetButtons sheetButtons"
} 

.title-card {
    grid-area: titleCard;
    background-color: rgb(247, 162, 4, .75);
    border: 1px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* font-weight: bold; */
}

.life-card {
    grid-area: lifeCard;
    background-color: rgb(247, 162, 4, .75);
    border: 1px solid black;
}

.stats-card {
    grid-area: statsCard;
    background-color: rgb(247, 162, 4, .75);
    border: 1px solid black;
}

.saving-throws-card {
    grid-area: savingThrowsCard;
    background-color: rgb(247, 162, 4, .75);
    border: 1px solid black;
}

.skills-card {
    grid-area: skillsCard;
    background-color: rgb(247, 162, 4, .75);
    border: 1px solid black;
}

.spell-stat-card {
    grid-area: spellStatCard;
    background-color: rgb(247, 162, 4, .75);
    border: 1px solid black;
}

.money-card {
    grid-area: moneyCard;
    background-color: rgb(247, 162, 4, .75);
    border: 1px solid black;
}

.equipment-card {
    grid-area: equipmentCard;
    background-color: rgb(247, 162, 4, .75);
    border: 1px solid black;
}

.background-card {
    grid-area: backgroundCard;
    background-color: rgb(247, 162, 4, .75);
    border: 1px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sheet-btns {
    grid-area: sheetButtons;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spell-btn {
    margin-top: 10px;
    margin-bottom: -50px;
}

p {
    padding: 5px;
}