
.sheet-grid {
    text-align: center;
    height: 100vh;
    width: 100vw;
    min-height: 675px;
    /* margin: 30px; */
    padding: 10vmin;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1.5fr 1.5fr 3fr 5fr 2fr 2fr;
    grid-template-areas:
        "titleCard titleCard titleCard"
        "lifeCard lifeCard lifeCard"
        "statsCard savingThrowsCard spellStatCard"
        "statsCard skillsCard moneyCard"
        "equipmentCard equipmentCard equipmentCard"
        "backgroundCard backgroundCard backgroundCard"
} 

.title-card {
    grid-area: titleCard;
    background-color: rgb(247, 162, 4, .5);
}

.life-card {
    grid-area: lifeCard;
    background-color: blue;
}

.stats-card {
    grid-area: statsCard;
    background-color: purple;

}

.saving-throws-card {
    grid-area: savingThrowsCard;
    background-color: green;
}

.skills-card {
    grid-area: skillsCard;
    background-color: grey;
}

.spell-stat-card {
    grid-area: spellStatCard;
    background-color: pink;
}

.money-card {
    grid-area: moneyCard;
    background-color: magenta;
}

.equipment-card {
    grid-area: equipmentCard;
    background-color: black;
}

.background-card {
    grid-area: backgroundCard;
    background-color: beige;
}

p {
    margin-block-end: .15em;
    margin-block-start: 5px;

}
