.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Federo', sans-serif;
}


.material-icons {
  padding-right: 10px;
}

a.navbar-brand {
  display: flex;
  align-items: center;
}


.navbar-dark .navbar-brand{
  color: orange;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: orange;
}

p {
  margin-bottom: 0rem;
}