.main-div {
    margin-top: 8vw;
    color: white;
    border: 2px solid orange;
    border-radius: 25px;
    background-color: rgb(141, 131, 131, .7);
    width: 50vw;
    padding: 2px;
    padding-bottom: 10px;
}

.main-div a {
    border-radius: 5px;
    padding: .4vmin;
    margin-top: 10px;
}


.home-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 5vmin;
}